.vscode
.env
.yarn
.DS_Store
*.log
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*
build
build/routes.ts
build/swagger.json
build/build/routes.js
build/build/routes.js.map
build/src/app.js
build/src/app.js.map
build/src/infrastructure/diContainer.js
build/src/infrastructure/diContainer.js.map
build/src/infrastructure/adapters/WinstonLogger.js
build/src/infrastructure/adapters/WinstonLogger.js.map
build/src/infrastructure/controllers/indexController.js
build/src/infrastructure/controllers/indexController.js.map
build/routes.ts
build/swagger.json
build/build/routes.js
build/build/routes.js.map
build/src/app.js
build/src/app.js.map
build/src/infrastructure/diContainer.js
build/src/infrastructure/diContainer.js.map
build/src/infrastructure/adapters/WinstonLogger.js
build/src/infrastructure/adapters/WinstonLogger.js.map
build/src/infrastructure/controllers/indexController.js
build/src/infrastructure/controllers/indexController.js.map
